<form id        =  "createProject"
     action    =  "/project"
     method    =  "post"
>
	Project name:<input type="text" name="projectName" value="" /><br>
	Email:       <input type="text" name="email" value="" /><br>
	Influences:<input type="text" name="influence" value="" /><br>
	Participator:<input type="text" name="participator" value="1" /><br>
	Participants role:<input type="text" name="participatorRole" value="" /><br>
	<input type="submit" value="Save" name="">
</form>
<!--Remember to use the project name instead of Elecro on the action in the form-->