<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>August9</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header">
        <h1>August9 - Handlebars(this is editable in views/layouts/main.handlebars)</h1>
        <a href="#">Contact List</a> | <a href="#add">New Contact</a>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>