<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/project/2"
     method    =  "post"
>
	<input type="text" name="productionstatus" value="mas" /><br>
	<input type="text" name="notes" value="notes" /><br>
	<input type="text" name="created" value="created" /><br>
	<input type="text" name="influence" value="influence" /><br>
	<input type="text" name="participator" value="1" /><br>
	<input type="text" name="participatorRole" value="participators role" /><br>
	<input type="file" name="file" /><br>
	<input type="submit" value="Upload" name="submit">
</form>
<!--Remember to use the project name instead of Elecro on the action in the form-->