<div id="header"></div>
<div id="homeList" class=""></div>
<div id="projectList" class="hidden-smartPhone"></div>
<div id="modal" class=""></div>
<div id="mainContent" class="moveLeft-smartPhone">
	<div id="info" class="hidden-smartPhone"></div>
	<div id="songList" class=""></div>
	<div id="songInfo" class="hidden-smartPhone"></div>
</div>
<div class="admin hidden userList"></div>
<div id="musicPlayer" class=""></div>



    





    


