<div id="header"></div>
<div id="homeList" class=""></div>

	
		<div id="projectList" class="hidden-smartPhone "></div>
		
			<div id="mainContent" class="adjust-smartPhone"></div>
			<div id="description" class=" text-justify"></div>
		<div id="container1" class="">
		</div>


<div class="admin hidden userList col-xs-4"></div>

<div id="musicPlayer" class="">
    
</div>



{{!-- <div id="header"></div>
<div id="homeList" class=""></div>
<div class="row">
	<div id="projectList" class="hidden-xs col-sm-3 col-md-4"></div>
	<div id="mainContent" class="col-sm-6 col-md-5"></div>
	<div id="description" class="hidden-xs col-sm-2 col-md-3 text-justify"></div>
</div>
<div class="admin hidden userList col-sm-4"></div>

<div id="musicPlayer" class="container-fluid col-xs-12">
    <audio controls>
      <source src="" type="audio/mpeg">
    </audio>
</div> --}}





    





    


