<div id="header"></div>
<div class="row">
	<div id="homeList" class="">
		
	</div>
	<div id="projectList" class="hidden-xs col-sm-2 ">
		
	</div>
	<div id="mainContent" class="col-sm-7 ">
		
	</div>
	<div class="admin hidden userList"></div>
	<div id="description" class="hidden-xs col-sm-3 text-justify">
		
  
	</div>
		<div id="musicPlayer" class="container col-xs-12">
        <audio controls>
          <source src="" type="audio/mpeg">
        </audio>
    </div>
</div>




    


