<div id="header"></div>
<div id="homeList" class=""></div>
	<div id="projectList" class="hidden-smartPhone"></div>
	<div id="mainContent" class="moveLeft-smartPhone"></div>
	<div id="info" class="hidden-smartPhone text-justify"></div>
<div class="admin hidden userList"></div>
<div id="musicPlayer" class=""></div>



    





    


