/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
  font-family: fanwood;
  src: url("../fonts/theleagueof/fanwood_webfonts/fanwood-webfont.woff");
}

@font-face {
  font-family: pt;
  src: url("../fonts/font_squirrel/PT-Sans/PTC55F.ttf");
}

/* line 16, ../../client/styles/sass/partials/_typography.scss */
label {
  font-weight: normal;
}

/* line 20, ../../client/styles/sass/partials/_typography.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../../client/styles/sass/partials/_typography.scss */
a {
  font-size: .91em;
}

/* line 26, ../../client/styles/sass/partials/_typography.scss */
.logo {
  font-family: fanwood;
  letter-spacing: .06em;
}
/* line 29, ../../client/styles/sass/partials/_typography.scss */
.logo h1 {
  font-size: 6em;
}
/* line 32, ../../client/styles/sass/partials/_typography.scss */
.logo:hover {
  color: #337ab7;
  text-decoration: none;
}

/* line 38, ../../client/styles/sass/partials/_typography.scss */
.slogan {
  font-size: .91em;
}

/* line 43, ../../client/styles/sass/partials/_typography.scss */
#mainContent .glyphicon {
  font-size: 26px;
}

/* line 47, ../../client/styles/sass/partials/_typography.scss */
#musicPlayer .glyphicon {
  font-size: 26px;
}

/* line 50, ../../client/styles/sass/partials/_typography.scss */
#musicPlayer .glyphicon-play, #musicPlayer .glyphicon-pause {
  font-size: 32px;
  position: relative;
  top: 4px;
  padding: 0 8px 0 12px;
}

/* line 58, ../../client/styles/sass/partials/_typography.scss */
#playCircle {
  position: relative;
  top: -34px;
  left: 34px;
}

/* line 65, ../../client/styles/sass/partials/_typography.scss */
.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
}

@media (max-width: 320px) {
  /* line 74, ../../client/styles/sass/partials/_typography.scss */
  .logo {
    font-family: fanwood;
    letter-spacing: .06em;
  }
}
/* line 9, ../../client/styles/sass/partials/_layout.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 14, ../../client/styles/sass/partials/_layout.scss */
body {
  padding-top: 130px;
}

/* line 17, ../../client/styles/sass/partials/_layout.scss */
header {
  	/* background-image: url('/media/images/tre.jpg');
  	background-repeat:no-repeat;
    background-size:cover; */
}

/* line 22, ../../client/styles/sass/partials/_layout.scss */
header + ul {
  float: right;
  position: relative;
  top: -45px;
  right: -30px;
}

/* line 29, ../../client/styles/sass/partials/_layout.scss */
header + ul li {
  float: left;
}

/* line 32, ../../client/styles/sass/partials/_layout.scss */
button {
  color: #222222;
}

/* line 35, ../../client/styles/sass/partials/_layout.scss */
#august9 {
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

/* line 43, ../../client/styles/sass/partials/_layout.scss */
#aboutAugust9 {
  width: 100%;
  position: relative;
  display: none;
}
/* line 48, ../../client/styles/sass/partials/_layout.scss */
#aboutAugust9 span {
  clear: both;
}
/* line 51, ../../client/styles/sass/partials/_layout.scss */
#aboutAugust9 header {
  float: left;
  width: 85%;
}
/* line 56, ../../client/styles/sass/partials/_layout.scss */
#aboutAugust9 .homeItem {
  width: 100%;
}

/* line 60, ../../client/styles/sass/partials/_layout.scss */
#homeList {
  width: 100%;
  position: relative;
  top: 15px;
}
/* line 65, ../../client/styles/sass/partials/_layout.scss */
#homeList ul {
  display: table;
  margin: 0 auto;
}
/* line 69, ../../client/styles/sass/partials/_layout.scss */
#homeList ul li {
  display: inline-block;
}
/* line 73, ../../client/styles/sass/partials/_layout.scss */
#homeList aside {
  clear: both;
}

/* line 79, ../../client/styles/sass/partials/_layout.scss */
.homeItem {
  width: 400px;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
/* line 84, ../../client/styles/sass/partials/_layout.scss */
.homeItem header {
  float: left;
}
/* line 87, ../../client/styles/sass/partials/_layout.scss */
.homeItem h4 {
  padding-left: 15px;
}
/* line 90, ../../client/styles/sass/partials/_layout.scss */
.homeItem section {
  width: 100%;
  background-color: #222222;
}
/* line 94, ../../client/styles/sass/partials/_layout.scss */
.homeItem .imgCrop {
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
/* line 100, ../../client/styles/sass/partials/_layout.scss */
.homeItem img {
  width: 200px;
  min-height: 200px;
}
/* line 104, ../../client/styles/sass/partials/_layout.scss */
.homeItem .projectInfo {
  width: 200px;
  height: 161px;
  overflow-y: scroll;
  border-bottom: 1px solid #252929;
}
/* line 110, ../../client/styles/sass/partials/_layout.scss */
.homeItem .projectInfo p {
  padding: 10px;
}
/* line 114, ../../client/styles/sass/partials/_layout.scss */
.homeItem label {
  width: 100%;
}
/* line 117, ../../client/styles/sass/partials/_layout.scss */
.homeItem aside {
  height: 40px;
  background-color: #222222;
}
/* line 120, ../../client/styles/sass/partials/_layout.scss */
.homeItem aside .listPlayer {
  height: 30px;
  margin: 7px 0;
}

/* line 127, ../../client/styles/sass/partials/_layout.scss */
#projectList {
  overflow-y: scroll;
  float: left;
  width: 15%;
  position: absolute;
  top: 0px;
  bottom: 65px;
  z-index: 0;
}
/* line 136, ../../client/styles/sass/partials/_layout.scss */
#projectList img {
  width: 50px;
  height: auto;
}
/* line 141, ../../client/styles/sass/partials/_layout.scss */
#projectList li {
  padding-top: 10px;
  border-bottom: 1px solid #252929;
}
/* line 146, ../../client/styles/sass/partials/_layout.scss */
#projectList .projectImgCrop {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-bottom: 5px;
}
/* line 153, ../../client/styles/sass/partials/_layout.scss */
#projectList .editButtons {
  margin: 0 -13px;
}

/* line 158, ../../client/styles/sass/partials/_layout.scss */
#mainContent {
  width: 77%;
  float: left;
  position: relative;
  left: 20%;
  margin-bottom: 65px;
}
/* line 164, ../../client/styles/sass/partials/_layout.scss */
#mainContent h2 {
  position: relative;
  left: 45px;
}
/* line 168, ../../client/styles/sass/partials/_layout.scss */
#mainContent .row {
  border-bottom: 1px solid #222222;
  padding: 2px;
}
/* line 172, ../../client/styles/sass/partials/_layout.scss */
#mainContent .title {
  position: relative;
  top: 5px;
}
/* line 176, ../../client/styles/sass/partials/_layout.scss */
#mainContent .listPlayer {
  position: relative;
  left: 10px;
}

/* line 185, ../../client/styles/sass/partials/_layout.scss */
#info {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #222222;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
/* line 195, ../../client/styles/sass/partials/_layout.scss */
#info .about {
  width: 30%;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: 41px;
  left: 30%;
}
/* line 203, ../../client/styles/sass/partials/_layout.scss */
#info .details {
  padding: 10px;
  margin-left: 20px;
}
/* line 207, ../../client/styles/sass/partials/_layout.scss */
#info .details li {
  padding: 3px 0;
}

/**/
/* line 211, ../../client/styles/sass/partials/_layout.scss */
.projectInfoCrop {
  float: right;
}

/* line 214, ../../client/styles/sass/partials/_layout.scss */
#songList {
  float: left;
  width: 70%;
}

/* line 218, ../../client/styles/sass/partials/_layout.scss */
#songInfo {
  position: relative;
  float: right;
  top: -30px;
  right: 0px;
  overflow: hidden;
}

/* line 227, ../../client/styles/sass/partials/_layout.scss */
#musicPlayer {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 234, ../../client/styles/sass/partials/_layout.scss */
#playerControls {
  position: relative;
  left: 40px;
  width: 200px;
  top: 10px;
}

/* line 241, ../../client/styles/sass/partials/_layout.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: red;
}

/* line 249, ../../client/styles/sass/partials/_layout.scss */
#userImg {
  margin: 0 auto;
}

/* line 255, ../../client/styles/sass/partials/_layout.scss */
#modal {
  position: relative;
  top: 10px;
}

/* line 259, ../../client/styles/sass/partials/_layout.scss */
.modalWindow {
  padding: 10px;
  box-shadow: 1px 1px 10px 3px rgba(150, 150, 150, 0.5);
  border-radius: 5px;
  z-index: 10;
  width: 60%;
}

/* line 270, ../../client/styles/sass/partials/_layout.scss */
.userList {
  position: absolute;
  right: 1em;
  top: 1em;
}

/* line 276, ../../client/styles/sass/partials/_layout.scss */
.imgCrop {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

/* line 284, ../../client/styles/sass/partials/_layout.scss */
.logoContainer {
  width: 30em;
  height: 150px;
  padding: 0 35px;
  margin-top: -18px;
}

/* line 291, ../../client/styles/sass/partials/_layout.scss */
.logo {
  position: relative;
}

/* line 294, ../../client/styles/sass/partials/_layout.scss */
.slogan {
  position: relative;
  top: 37px;
  left: 45px;
  width: 100%;
}

/* line 304, ../../client/styles/sass/partials/_layout.scss */
.navbar-default .navbar-collapse {
  border: none;
  position: relative;
}

/* line 308, ../../client/styles/sass/partials/_layout.scss */
.navbar-collapse {
  padding-right: -10px;
}

/* line 311, ../../client/styles/sass/partials/_layout.scss */
.navbar-default {
  height: 130px;
}

/* line 314, ../../client/styles/sass/partials/_layout.scss */
.navbar-toggle {
  top: -125px;
  margin-right: 5px;
}

/* line 318, ../../client/styles/sass/partials/_layout.scss */
.btn {
  margin-bottom: 7px;
}

/* line 321, ../../client/styles/sass/partials/_layout.scss */
#progressBar {
  position: relative;
  left: 16em;
  top: -50px;
  width: 70%;
  height: 5px;
}

/* line 328, ../../client/styles/sass/partials/_layout.scss */
#playedTime {
  position: relative;
  top: -5px;
  left: -36px;
}

/* line 333, ../../client/styles/sass/partials/_layout.scss */
#playedBar {
  width: 0%;
  height: 5px;
  position: relative;
  top: -14px;
}

/* line 339, ../../client/styles/sass/partials/_layout.scss */
#dragBox {
  width: 100%;
  position: relative;
  top: -14px;
}

/* line 344, ../../client/styles/sass/partials/_layout.scss */
#slider {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: -22px;
}

/* line 351, ../../client/styles/sass/partials/_layout.scss */
#duration {
  position: relative;
  top: -34px;
  left: 102%;
  width: 30px;
}

/* line 357, ../../client/styles/sass/partials/_layout.scss */
#queue {
  position: relative;
  top: -54px;
  left: 107%;
}

/* line 362, ../../client/styles/sass/partials/_layout.scss */
#chorusTime {
  position: relative;
  top: -75px;
  left: 111%;
  cursor: crosshair;
}

@media (max-width: 822px) {
  /* line 371, ../../client/styles/sass/partials/_layout.scss */
  .hidden-pad {
    display: none !important;
  }

  /* line 374, ../../client/styles/sass/partials/_layout.scss */
  #info .moveRight-pad {
    top: 61px;
    left: 0%;
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 381, ../../client/styles/sass/partials/_layout.scss */
  header + ul {
    position: relative;
    top: -140px;
    right: 15px;
  }
}
@media (max-width: 320px) {
  /* line 389, ../../client/styles/sass/partials/_layout.scss */
  .homeItem {
    margin: 1em 1em 1em -2.5em;
  }

  /* line 392, ../../client/styles/sass/partials/_layout.scss */
  .navbar-toggle {
    top: -136px;
    right: 10px;
  }

  /* line 396, ../../client/styles/sass/partials/_layout.scss */
  .logoContainer {
    padding: 0px 10px;
  }

  /* line 401, ../../client/styles/sass/partials/_layout.scss */
  .slogan {
    position: relative;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 47px;
    font-size: 0.8em;
  }

  /* line 405, ../../client/styles/sass/partials/_layout.scss */
  .logo {
    position: relative;
  }

  /* line 409, ../../client/styles/sass/partials/_layout.scss */
  #mainContent {
    left: -10px;
  }

  /* line 412, ../../client/styles/sass/partials/_layout.scss */
  #mainContent ul {
    margin-left: -30px;
  }

  /* line 416, ../../client/styles/sass/partials/_layout.scss */
  #mainContent.admin {
    left: -20px;
  }
}
@media (max-width: 474px) {
  /* line 423, ../../client/styles/sass/partials/_layout.scss */
  .hidden-smartPhone {
    display: none !important;
  }

  /* line 426, ../../client/styles/sass/partials/_layout.scss */
  #mainContent.moveLeft-smartPhone, #description.moveLeft {
    left: 1%;
  }
}
/* line 5, ../../client/styles/sass/partials/_color.scss */
body {
  color: white;
}

/* line 8, ../../client/styles/sass/partials/_color.scss */
p {
  color: #999999;
}

/* line 13, ../../client/styles/sass/partials/_color.scss */
header .slogan {
  color: #333333;
}

/* line 17, ../../client/styles/sass/partials/_color.scss */
i {
  color: white;
}

/* line 20, ../../client/styles/sass/partials/_color.scss */
i:hover {
  color: #337ab7;
}

/* line 23, ../../client/styles/sass/partials/_color.scss */
i:active {
  color: #337ab7;
}

/* line 26, ../../client/styles/sass/partials/_color.scss */
a {
  color: #999999;
}

/* line 29, ../../client/styles/sass/partials/_color.scss */
#august9 {
  background-color: #252929;
}

/* line 37, ../../client/styles/sass/partials/_color.scss */
#projectList {
  background-color: #222222;
}

/* line 43, ../../client/styles/sass/partials/_color.scss */
#info .details, #songInfo .details {
  color: #999999;
}

/* line 46, ../../client/styles/sass/partials/_color.scss */
#musicPlayer {
  background-color: #222222;
  border-top: 1px solid #252929;
}

/* line 50, ../../client/styles/sass/partials/_color.scss */
#playCircle:hover {
  border: 2px solid #337ab7;
}

/* line 53, ../../client/styles/sass/partials/_color.scss */
#playCircle:active {
  border: 3px solid #337ab7;
}

/* line 57, ../../client/styles/sass/partials/_color.scss */
.listPlayer {
  color: white;
}

/* line 60, ../../client/styles/sass/partials/_color.scss */
.listPlayer:hover {
  color: #337ab7;
}

/* line 63, ../../client/styles/sass/partials/_color.scss */
.listPlayer:active {
  color: #337ab7;
}

/* line 67, ../../client/styles/sass/partials/_color.scss */
#progressBar {
  background-color: #252929;
}

/* line 70, ../../client/styles/sass/partials/_color.scss */
#playedBar {
  background-color: #337a17;
}

/* line 73, ../../client/styles/sass/partials/_color.scss */
#slider {
  background-color: white;
}

/* line 77, ../../client/styles/sass/partials/_color.scss */
.modalWindow {
  background-color: #f8f8f8;
  color: #222222;
}

/* line 84, ../../client/styles/sass/partials/_color.scss */
.logo {
  color: #337a17;
}

/* line 88, ../../client/styles/sass/partials/_color.scss */
.hidden {
  visibility: hidden;
}

/* line 91, ../../client/styles/sass/partials/_color.scss */
.visible {
  visibility: visible;
}
