/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
  font-family: fanwood;
  src: url("../fonts/theleagueof/fanwood_webfonts/fanwood-webfont.woff");
}

@font-face {
  font-family: pt;
  src: url("../fonts/font_squirrel/PT-Sans/PTC55F.ttf");
}

/* line 12, ../../client/styles/sass/partials/_typography.scss */
body {
  font-family: 'pt';
}

/* line 17, ../../client/styles/sass/partials/_typography.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../client/styles/sass/partials/_typography.scss */
.logo {
  font-family: fanwood;
  letter-spacing: .06em;
}
/* line 24, ../../client/styles/sass/partials/_typography.scss */
.logo h1 {
  font-size: 6em;
}
/* line 27, ../../client/styles/sass/partials/_typography.scss */
.logo:hover {
  color: #337ab7;
  text-decoration: none;
}

/* line 33, ../../client/styles/sass/partials/_typography.scss */
.slogan {
  font-size: .91em;
}

/* line 37, ../../client/styles/sass/partials/_typography.scss */
#mainContent .glyphicon {
  font-size: 26px;
}

/* line 41, ../../client/styles/sass/partials/_typography.scss */
#musicPlayer .glyphicon {
  font-size: 26px;
}

/* line 44, ../../client/styles/sass/partials/_typography.scss */
#musicPlayer .glyphicon-play, #musicPlayer .glyphicon-pause {
  font-size: 32px;
  position: relative;
  top: 4px;
  padding: 0 8px 0 12px;
}

/* line 52, ../../client/styles/sass/partials/_typography.scss */
#playCircle {
  position: relative;
  top: -36px;
  left: 34px;
}

/* line 59, ../../client/styles/sass/partials/_typography.scss */
.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
}

@media (max-width: 320px) {
  /* line 68, ../../client/styles/sass/partials/_typography.scss */
  .logo {
    font-family: fanwood;
    letter-spacing: .06em;
  }
}
/* line 9, ../../client/styles/sass/partials/_layout.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 14, ../../client/styles/sass/partials/_layout.scss */
body {
  padding-top: 130px;
}

/* line 18, ../../client/styles/sass/partials/_layout.scss */
#august9 {
  min-height: 100%;
  position: relative;
  padding-left: 0px;
  width: 100%;
}

/* line 27, ../../client/styles/sass/partials/_layout.scss */
#container-outer {
  	/* float:left;
    width:100%;
    overflow:hidden;
    position:relative; */
}

/* line 34, ../../client/styles/sass/partials/_layout.scss */
#container1 {
  	/* float:left;
    width:70%;
    position:relative; */
}

/* line 40, ../../client/styles/sass/partials/_layout.scss */
#projectList {
  float: left;
  width: 30%;
  position: absolute;
  top: 0px;
  bottom: 50px;
}
/* line 47, ../../client/styles/sass/partials/_layout.scss */
#projectList img {
  width: 50px;
  height: auto;
}

/* line 52, ../../client/styles/sass/partials/_layout.scss */
#mainContent {
  width: 70%;
  float: left;
  position: relative;
  left: 30%;
}

/* line 60, ../../client/styles/sass/partials/_layout.scss */
#homeList {
  position: relative;
  top: -23px;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  top: -23px;
}

/* line 67, ../../client/styles/sass/partials/_layout.scss */
#musicPlayer {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 74, ../../client/styles/sass/partials/_layout.scss */
#playerControls {
  position: relative;
  left: 40px;
  width: 200px;
  top: 10px;
}

/* line 81, ../../client/styles/sass/partials/_layout.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: red;
}

/* line 89, ../../client/styles/sass/partials/_layout.scss */
.homeItem {
  margin: 1em;
  width: 20em;
  height: auto;
  padding: 0;
}
/* line 94, ../../client/styles/sass/partials/_layout.scss */
.homeItem img {
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  overflow: hidden;
}
/* line 100, ../../client/styles/sass/partials/_layout.scss */
.homeItem h3 {
  padding-left: 15px;
}

/* line 105, ../../client/styles/sass/partials/_layout.scss */
.logoContainer {
  width: 30em;
  height: 150px;
  padding: 0 35px;
  margin-top: -18px;
}

/* line 112, ../../client/styles/sass/partials/_layout.scss */
.logo {
  position: relative;
}

/* line 115, ../../client/styles/sass/partials/_layout.scss */
.slogan {
  position: 100%;
  top: 37px;
  right: 0;
  bottom: 0;
  left: 45px;
  position: relative;
  top: 37px;
  left: 45px;
  width: 100%;
}

/* line 124, ../../client/styles/sass/partials/_layout.scss */
.navbar-default {
  height: 130px;
  border: none;
}

/* line 128, ../../client/styles/sass/partials/_layout.scss */
.navbar-toggle {
  top: -125px;
  right: 10px;
}

/* line 132, ../../client/styles/sass/partials/_layout.scss */
.btn {
  margin-bottom: 7px;
}

@media (max-width: 320px) {
  /* line 140, ../../client/styles/sass/partials/_layout.scss */
  .homeItem {
    margin: 1em 1em 1em -2.5em;
  }

  /* line 143, ../../client/styles/sass/partials/_layout.scss */
  .navbar-toggle {
    top: -136px;
    right: 10px;
  }

  /* line 147, ../../client/styles/sass/partials/_layout.scss */
  .logoContainer {
    padding: 0px 35px;
  }

  /* line 152, ../../client/styles/sass/partials/_layout.scss */
  .slogan {
    position: relative;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 47px;
    font-size: 0.8em;
  }

  /* line 156, ../../client/styles/sass/partials/_layout.scss */
  .logo {
    position: relative;
  }

  /* line 159, ../../client/styles/sass/partials/_layout.scss */
  #mainContent {
    left: -10px;
  }

  /* line 162, ../../client/styles/sass/partials/_layout.scss */
  #mainContent ul {
    margin-left: -30px;
  }

  /* line 166, ../../client/styles/sass/partials/_layout.scss */
  #mainContent.admin {
    left: -20px;
  }
}
@media (max-width: 474px) {
  /* line 172, ../../client/styles/sass/partials/_layout.scss */
  .adjust-smartPhone {
    left: 70% !important;
    top: -15px !important;
  }

  /* line 176, ../../client/styles/sass/partials/_layout.scss */
  .hidden-smartPhone {
    display: none;
  }
}
/* line 8, ../../client/styles/sass/partials/_color.scss */
label {
  color: white;
  font-weight: normal;
}

/* line 12, ../../client/styles/sass/partials/_color.scss */
i {
  color: white;
}

/* line 15, ../../client/styles/sass/partials/_color.scss */
i:hover {
  color: #337ab7;
}

/* line 18, ../../client/styles/sass/partials/_color.scss */
i:active {
  color: #337ab7;
}

/* line 21, ../../client/styles/sass/partials/_color.scss */
#playCircle:hover {
  border: 2px solid #337ab7;
}

/* line 24, ../../client/styles/sass/partials/_color.scss */
#playCircle:active {
  border: 3px solid #337ab7;
}

/* line 27, ../../client/styles/sass/partials/_color.scss */
.listPlayer {
  color: white;
}

/* line 30, ../../client/styles/sass/partials/_color.scss */
.listPlayer:hover {
  color: #337ab7;
}

/* line 33, ../../client/styles/sass/partials/_color.scss */
.listPlayer:active {
  color: #337ab7;
}

/* line 37, ../../client/styles/sass/partials/_color.scss */
#august9 {
  background-color: #252929;
}

/* line 45, ../../client/styles/sass/partials/_color.scss */
#projectList {
  background-color: #222222;
}

/* line 51, ../../client/styles/sass/partials/_color.scss */
#musicPlayer {
  background-color: #222222;
  border-top: 1px solid #252929;
}

/* line 59, ../../client/styles/sass/partials/_color.scss */
.logo {
  color: #337a17;
}
