/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* line 20, ../../client/styles/sass/august9.scss */
#header {
  padding: 15px;
}

/* line 24, ../../client/styles/sass/august9.scss */
#sidebar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  position: relative;
  float: left;
  left: 10px;
  top: 5px;
  bottom: 20px;
  width: 200px;
  border: solid 1px #CCCCCC;
  overflow-y: scroll;
  margin-right: 46px;
}

/* line 38, ../../client/styles/sass/august9.scss */
#mainContent {
  background-image: url("../media/images/chimney_small.jpg");
}

/* line 42, ../../client/styles/sass/august9.scss */
#mainContent {
  overflow: hidden;
  min-width: 26em;
  float: left;
}

/* line 51, ../../client/styles/sass/august9.scss */
.hidden {
  display: none;
}

/* line 54, ../../client/styles/sass/august9.scss */
.show {
  display: block;
}

/* line 58, ../../client/styles/sass/august9.scss */
.col-sm-offset-3 {
  margin-left: 1%;
}

/* line 70, ../../client/styles/sass/august9.scss */
.title {
  font-size: 20px;
  font-weight: bold;
}

/* line 75, ../../client/styles/sass/august9.scss */
ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

/* line 81, ../../client/styles/sass/august9.scss */
li a {
  text-decoration: none;
  display: block;
  color: #000000;
  border-bottom: solid 1px #CCCCCC;
  padding: 8px;
  float: left;
}

/* line 90, ../../client/styles/sass/august9.scss */
li a:hover {
  background-color: #4B0A1E;
  color: #BA8A92;
}

/* line 95, ../../client/styles/sass/august9.scss */
input, textarea {
  border: 1px solid #ccc;
  min-height: 30px;
  outline: none;
}

/* line 101, ../../client/styles/sass/august9.scss */
.form-left-col input {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 280px;
}

/* line 107, ../../client/styles/sass/august9.scss */
textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  height: 200px;
  width: 250px;
}

/* line 114, ../../client/styles/sass/august9.scss */
label {
  display: block;
}
