<div id="info">
	<img src="./media/images/{{imglarge}}" alt="{{imgAlt}}"/>
	<div id="infoContainer" class="">
		<div id="songTitle">{{title}}</div>
	</div>
</div>

<div id="volume" class=""></div>
<div id="queue" class=""></div>



