<div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <header class="navbar-header">
            <a href="#/" class="navbar-brand">August9</a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" 
            data-target=".navbar-collapse">
              <span class='sr-only'>Toggle navigation</span> 
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span id="slogan">— music production for every mood</span>
          </header>
          
          <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="#/login">login</a></li>
            <li><a href="#/logout">logout</a></li>
            <li><a href="#/project/newProject" class="admin hidden">New project</a></li>
          </ul>
        </div>
      </div>