<div id="playerControls" class="">

	<i class="glyphicon glyphicon-step-backward"></i>
	<i class="glyphicon glyphicon-play"></i>
	<i class="glyphicon glyphicon-step-forward"></i>
	<div id="playCircle" class="circle"></div>
	 
</div>



