<div id="playerControls" class="">
	<i class="glyphicon glyphicon-step-backward"></i>
	<i class="glyphicon glyphicon-play"></i>
	<i class="glyphicon glyphicon-step-forward"></i>
	<div id="playCircle" class="circle"></div>
</div>
<div id="progressBar">
    <div id="playedTime" >0:00</div>
    <div id="playedBar"></div>
    <div id="dragBox"></div>
    <div id="slider" ></div>
    <div id="duration" >0:00</div>
    <a  href="#/queue"><div id="queue" class="glyphicon glyphicon-list"></div></a>
    <div id="chorusTime" >Go to chorus</div>
</div>






