<div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="projectid" name="projectid" value="{{ projectid }}" disabled />
        <label>Name:</label>
        <input type="text" id="projectname" name="projectname" value="{{ projectname }}" required/>
        <label>Email:</label>
        <input type="text" id="email" name="email" value="{{ email }}"/>
        
    </div>