// Modules and Variables

$base_background_color:#252929;
$base_font_color:#fff;
$base_hover:#337ab7;
$base_active:#337ab7;
$header_color:#337A17;
$sidebar_color:#222;
$solgan_color:#eee;

@import "partials/_typography";
@import "partials/_layout";
@import "partials/_color";

//@import "partials/reset";

//@import "partials/buttons";
//@import "partials/figures";

// ...

// Third-party
//@import "vendor/colorpicker";
//@import "vendor/jquery.ui.core";

