@mixin position($top:0, $right:0, $bottom:0, $left:0, $pos:relative) {
	position: $pos;
	top: $top;
	right:$right;
	bottom: $bottom;
	left: $left;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
	padding-top: 130px;
}

#august9 {
	min-height: 100%;
	position: relative;
	padding-left: 0px;
	//float:left;
	width: 100%;
	
}

#container-outer {
	/* float:left;
  width:100%;
  overflow:hidden;
  position:relative; */
  
}
#container1 {
	/* float:left;
  width:70%;
  position:relative; */
  //right:67%;
}
#projectList {
	float:left;
  width:30%;
  position:absolute;
  top: 0px;
  bottom:50px;
  
	img {
		width: 50px;
		height: auto;
	}
}
#mainContent {
	width: 70%;
	float: left;
	position: relative;
	left: 30%;
	//min-height: 100%;
	//@include position(-30px);
}
#homeList {
	@include position(-23px);
	
	position: relative;
	top: -23px;
	
}
#musicPlayer {
	width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#playerControls {
	position: relative;
	left: 40px;
	width: 200px;
	top: 10px;
}

#footer {
	position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: red;
}
.homeItem {
	margin: 1em;
	width: 20em;
	height: auto;
	padding: 0;
	img {
		width: 100%;
		margin: 0 auto;
		padding-top: 1em;
		overflow: hidden;
	}
	h3 {
		padding-left: 15px;
	}
}
// Navigation
.logoContainer {
	width: 30em;
	height: 150px;
  padding: 0 35px;
  margin-top: -18px;
}

.logo  {
	position: relative;
}
.slogan {
	@include position(37px, 0, 0, 45px, 100%);
	
		position: relative;
		top: 37px;
		left: 45px;
	  width: 100%;
	  
}
.navbar-default {
	height: 130px;
	border: none;
}
.navbar-toggle {
		top: -125px;
		right: 10px;
}
.btn {
	margin-bottom: 7px;
}

// Media

@media (max-width: 320px) {

  .homeItem {
    margin: 1em 1em 1em -2.5em;
  }
  .navbar-toggle {
		top: -136px;
		right: 10px;
	}
  .logoContainer {
		padding: 0px 35px;
	}	

	
 .slogan {
		@include position(44px, 0, 0, 47px);
		font-size: 0.8em;
 }
 .logo  {
		position: relative;
 }
 #mainContent {
	left: -10px;
	}
	#mainContent ul{
		margin-left: -30px;
	}
	#mainContent {
		&.admin {
			left: -20px;
		}
	}
}
@media (max-width: 474px) {
	.adjust-smartPhone {
		left: 70% !important;
		top: -15px !important;
	}
	.hidden-smartPhone {
		display: none;
	}
	
}
