@mixin position($top:0, $right:0, $bottom:0, $left:0, $pos:relative) {
	position: $pos;
	top: $top;
	right:$right;
	bottom: $bottom;
	left: $left;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
	padding-top: 130px;
}
header + ul {
		float: right;
		position: relative;
		top: -45px;
		right: -30px;
	}	

header + ul li {
		float: left;
	}	
button {
	color: $sidebar_background;
}
#august9 {
	min-height: 100%;
	position: relative;
	padding-left: 0px;
	//float:left;
	width: 100%;
	
}

#container-outer {
	/* float:left;
  width:100%;
  overflow:hidden;
  position:relative; */
  
}
#container1 {
	/* float:left;
  width:70%;
  position:relative; */
  //right:67%;
}
 #projectList {
 	overflow-y: scroll;
	float:left;
  width:20%;
  position:absolute;
  top: 0px;
  bottom:65px;
  
	img {
		width: 50px;
		height: auto;

	}
	li {
		padding-top: 10px;
		border-bottom: 1px solid $base_background;
	}

	.projectImgCrop {
		border-radius: 50%;
		width: 35px;
		height: 35px; 
		overflow: hidden;
		margin-bottom: 5px;
	}
	.editButtons {
 		margin: 0 -13px;
 }
}

#mainContent {
	width: 77%;
	float: left;
	position: relative;
	left: 20%;
	margin-bottom: 65px;
	h2 {
		position: relative;
		left: 45px;
	}
	.row {
		border-bottom: 1px solid $sidebar_background;
		padding: 2px;
	}
	.title {
		position: relative;
		top: 5px;
	}
	.listPlayer {
		position: relative;
		left: 10px;
	}
	//min-height: 100%;
	//@include position(-30px);
	
}

#info{
	position: relative;
	overflow: hidden;
	
	border-bottom: 2px solid $sidebar_background;
  margin-bottom: 30px;
  padding-bottom: 10px;
	ul {
		//float: right;
	}
	.about {
		width: 50%;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: 41px;
    left: 20%;
	}
	.details {
		padding: 10px;
	}
	.details li {
		padding: 3px 0;
	}
} /**/
.projectInfoCrop {
	float: right;
}
#songList {
	float: left;
	width: 70%;
}
#songInfo {
	position: relative;
    float: right;
    top: -30px;
    right: 0px;
    overflow: hidden;
}
#homeList {
	//@include position(-23px);
	width: 100%;
	position: relative;
	top: -23px;
	
}
#homeList ul {
	margin: 0 auto;
}

#musicPlayer {
	width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#playerControls {
	position: relative;
	left: 40px;
	width: 200px;
	top: 10px;
}

#footer {
	position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: red;
}
#userImg {
	margin: 0 auto;
}
#userImg {
	
}
.modalWindow {
	padding: 10px;
	
	box-shadow: 1px 1px 10px 3px rgba(150, 150, 150, 0.5);
	position: relative;
	top: 10px;
	border-radius: 5px;
	z-index: 10;
	width: 100%;

}
.homeItem {
	margin: 1em;
	width: 20em;
	height: auto;
	padding: 0;
	img {
		width: 100%;
		margin: 0 auto;
		padding-top: 1em;
		overflow: hidden;
	}
	h3 {
		padding-left: 15px;
	}
}
.userList {
	position: absolute;
	right: 1em;
	top: 1em;
}

.imgCrop {
	  width: 100px;
    height: 100px;
    
    overflow: hidden;
}

// Navigation
.logoContainer {
	width: 30em;
	height: 150px;
  padding: 0 35px;
  margin-top: -18px;
}

.logo  {
	position: relative;
}
.slogan {
	//@include position(37px, 0, 0, 45px);
	
		position: relative;
		top: 37px;
		left: 45px;
	  width: 100%;
	  
}

.navbar-default .navbar-collapse {
	border: none;
	position: relative;
}
.navbar-collapse {
	padding-right: -10px;
}
.navbar-default {
	height: 130px;
}
.navbar-toggle {
		top: -125px;
		margin-right: 5px;
}
.btn {
	margin-bottom: 7px;
}

// Media

@media (min-width: 768px) {
	header + ul {
		position: relative;
		top: -140px;
		right: 15px;
	}	
}
@media (max-width: 320px) {

  .homeItem {
    margin: 1em 1em 1em -2.5em;
  }
  .navbar-toggle {
		top: -136px;
		right: 10px;
	}
  .logoContainer {
		padding: 0px 10px;
	}	

	
 .slogan {
		@include position(44px, 0, 0, 47px);
		font-size: 0.8em;
 }
 .logo  {
		position: relative;
 }
 
 #mainContent {
	left: -10px;
	}
	#mainContent ul{
		margin-left: -30px;
	}
	#mainContent {
		&.admin {
			left: -20px;
		}
	}
}
@media (max-width: 474px) {
	
	.hidden-smartPhone {
		display: none !important;
	}
	#mainContent.moveLeft-smartPhone, #description.moveLeft {
		left: 1%;
	}
}
