body {
	padding-top: 180px;
}

.navbar-brand {
  font-size: 6em;
  height: 150px;
  padding: 45px 35px;
}

.container {
	

}
.homeItem {
	border: 1px solid #000;
	margin: 1em 0 1em 0;
	border-radius: 5%;
}
.homeItem  img{
	width: 100%;
	margin: 0 auto;
	padding-top: 1em;
}


#mainContent {
	
}
#description {
	
}

#slogan {
	  width: 100px;
    font-size: 12px;
    position: relative;
    top: 20px;
    left: -302px;
}
