body {

}

.container {
  width: 100%;
  height:  100%;
 
}
#singer {
  position: absolute;
  width: 100%;
  height: 50%;
  top:0;
  left: 0px;
  right: 0px;
  background-color: red;
  background-image: url("../media/images/tre.jpg");
  background-position:  center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

}

#electro {
  position: relative;
  background-image: url("../media/images/chimney.jpg");
  background-color: blue;
  position: absolute;
  
  height: 50%;
  bottom:0;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

}
#about {
  position: absolute;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  background-image: url("../media/images/august9_projects_temp.jpg");
  z-index: 100;
}

audio {
  
}