<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" ui-sref="august9">August9</a>
    </div>
  </div>  
  <ul>
    <a ui-sref="genre({genre:selectedGenre, track:value})" ng-repeat="value in tracks">
        <li >{{ value }}</li>
      </a>
      </ul>
      <!--
  <div class="container">
    <div ui-view='player'>
      <i>Some content will load here!</i>     
    </div> 
    <div ui-view='trackStats'>
      <i>Some content will load here!</i>     
    </div> 
    <div ui-view='trackComments'>
      <i>Some content will load here!</i>     
    </div> 
  </div>
  -->
   
  </div>
  




    