<div class="august9-projects">
	<div class="august9-projects-singer">
		<div class="august9-projects-singer-head">
		
		</div>
		<div class="august9-projects-singer-body">
			
		</div>
		<div class="frontDropSinger">
			<a ui-sref="genre({genre:'singer'})">
    			<div id="singer"></div>
  			</a>
		</div>
			
	</div>
	<div class="august9-projects-electro">
		<div class="august9-projects-electro-head">
		
		</div>
		<div class="august9-projects-electro-body">
			
		</div>
		<div class="frontDropSinger">
			<a ui-sref="genre({genre:'electro'})">
    			<div id="electro"></div>
  			</a>
		</div>
			
	</div>
	<div class="rotatingCircle">
		<div class="august9-about-head">ABOUT....ABOUT</div>
		<div class="august9-about-body">August9 is all about music. The music spans from singer songwriter style to electro and house ...</div>
	</div>
</div>
		
	
	



  
  
  <!--<div id="about">.
      <header>ABOUT....ABOUT</header>
      <article>August9 is all about music. The music spans from singer songwriter style to electro and house ...</article>
    </div>-->